:root {
    --bg-light: #efefef;
    --bg-dark: #373737;
    --text-light: #efefef;
    --text-dark: #373737;
    --text-sub-dark: #999999;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

#symbols {
    height: 100%;
    background: var(--bg-light);
    flex: 3;
    padding: 10px;
}

#main {
    height: 100%;
    background: var(--bg-dark);
    flex: 7;
    color: var(--text-light);
    padding: 10px;
}

math {
    font-size: 28pt;
    font-family: MJXZERO, MJXTEX-S3;
}

#symbols .symbol-id {
    color: var(--text-dark);
}
#symbols .symbol-sub-id {
    font-size: 12pt;
    color: var(--text-sub-dark);
}
